body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
  color: #2F3A46;
}

header {
  background-color: #4D94A7;
  color: white;
  padding: 2em 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 3em;
}

header h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

section {
  padding: 2em;
  margin: 2em 0;
  background-color: #E9F2F7;
}

section h3 {
  color: #0066CC;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 1em 0;
}

ul li strong {
  color: #0066CC;
}

footer {
  background-color: #4D94A7;
  color: white;
  text-align: center;
  padding: 1em 0;
}

footer p {
  margin: 0;
}
